<p [style.color]="myColor"> Ceci est un p arc en ciel</p>

<button (click)="chngColor('red')">Red</button>
<button (click)="chngColor('blue')">blue</button>
<button (click)="chngColor('green')">green</button>


<!--<select (change)="chngColor($event.target.value)">-->

<select (change)="chngColor(monSelect.value)" #monSelect>
    <option>green</option>
    <option>red</option>
    <option>blue</option>
    <option>purple</option>
    <option>orange</option>
    <option>yellow</option>
</select>

{{monSelect.value}}
