<ul>
  <li *ngFor="let item of list; let key = index">
    {{item}} 
    <button (click)="rmItem(key)">X</button>
    <button (click)="changeOrder(key, 'up')" *ngIf="key !== 0">Up</button>
    <button (click)="changeOrder(key, 'down')" *ngIf="key !== list.length - 1">Down</button>
  </li>
</ul>

<input type="text" [(ngModel)]="todo">
<button (click)="addItem()">Add</button>
